<div class="row">
  <div class="col-12">
    <div class="home-page">
      <h1>Are you a Foursquare user?</h1>
      <p class="lead">
        Do you have important friends and family who are not?
      </p>
      <p class="lead">
        SoInformed is an <strong>easy</strong> way to keep your non-Foursquare friends up-to-date on where you check in!
      </p>

      <% if !current_user %>
        <div class="main-login-button">
          <%= link_to image_tag("connect-blue@2x.png", :size => "300x48"), authentication_path %>
        </div>
      <% end %>

      <div class="bg-home">
        <div class="iphone checkin-screen">
          <div class="outgoing-msg">Come join us #alicia</div>
          <div class="btn fq-checkin-btn">Check In Here</div>
        </div>
        <div class="dash-line-wrapper"><div class="dash-line"></div></div>
        <div class="iphone msg-screen">
          <div class="incoming-msg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
