<div class="row">
  <div class="col-12">
    <div class="home-page">
      <h1>Are you a Foursquare user?</h1>
      <p class="lead">
        Do you have important friends and family who are not?
      </p>
      <p class="lead">
        SoInformed is an <strong>easy</strong> way to keep your non-Foursquare friends up-to-date on where you check in!
      </p>
      <div class="bg-home">
      </div>
    </div>
  </div>
</div>
