<div class="row">
  <div class="col-12">
    <h1>Are you a Foursquare user?</h1>
    <p class="lead">
      Do you have important friends and family who are not?
      <br>
      This is an easy way to keep those non-Foursquare friends of yours up-to-date on where you check in!
    </p>
  </div>
</div>
<div class="bg-home">
</div>