<h1>Privacy Policy</h1>
<p>
This application attempts to use and store private information only when necessary to provide functionality. In cases where data is collected, it will not be shared with any third parties.
</p>

<h2>Cookies</h2>
<p>
  Cookies are used for authentication purposes, so they are required to use the application.
</p>

<h2>Contacts</h2>
<p>
  Contacts are created by the user (typically a name and phone number) which will only be used when configured to do so and only sent your checkin data. Again, this information will be kept private and not shared with any third party.
</p>

<h2>Foursquare</h2>
<p>
  We receive and use some Foursquare checkin data to send to your configured contacts. We do not store your checkin data, user name or anything else but a unique identifier from Foursquare.
</p>

<h2>Twilio</h2>
<p>
  In order to deliver an Sms to a contact we use Twilio. Twilio logs SMS data (To, from and message) sent through it's service and does not currently have a way to turn this off:
  <div class="panel">
    <p>
    Unfortunately there are no plans to support deleting logs in the near future. The product management is aware that customers have this requirement, however Twilio will not be able to meet it any time soon.
    </p>
    Twilio Customer Support<br/>
    <a href="http://twilio.com">www.twilio.com</a>
  </div>
</p>
