<div class="row">
  <div class="col-lg-8 col-offset-2">
    <% if current_user.contacts.length > 1 %>
    <h3 class="section-heading">Manage Contacts</h3>
    <% end %>
    <%= render :partial => "contacts/form", :collection => current_user.contacts, :as => :contact %>
  </div>
</div>