<h1>Admin Settings</h1>

<p>
  These are settings only available to the administrator.
</p>

<h2>Application Properties</h2>

<div class="well">
  <dl>
    <dt>Version</dt>
    <dd><%= @application.version %></dd>
    </ul>
  </dl>
</div>

<h2>Configuration</h2>

<%= form_for(:settings, :html => {:class => "well"}) do |f| %>

  <div class="checkbox">
    <label>
      <%= check_box_tag :dev_session_enabled, true, dev_session_enabled? %>
      Dev session enabled?
    </label>
    <span class="help-block">This setting controls a cookie that can disable automatic login in with the dev session. Uncheck to turn it off. NOTE: To re-enable dev session you need to delete the cookie.</span>
  </div>

  <%= f.submit "Save", :class => "btn btn-default" %>

<% end %>
