$logos-sprite-dimensions:true;
@import "logos/*.png";
@include all-logos-sprites;

h1, h2, h3, h4, h5 {
  color: $orange;
}
.well {
  .input-group input, .input-group-addon {
    border-color: darken($beige, 20);
  }
}

.alert-dismissable {
  cursor: pointer;
}

.logos-sprite {
  display:inline-block;
}

nav.navbar-default {
  background-color: $orange;
}
.navbar-brand {
  padding: 9px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.navbar-default .navbar-text {
  color: lighten($orange, 20);
}

.lead {
  font-size: 21px;
}

$iphone-width: 210*1.5px;
.bg-home {
  margin-top: 30px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  .iphone {
    display: inline-block;
    height: 284*1.5px;
    width: $iphone-width;
    position: relative;
    &.checkin-screen {
      background: image-url("checkin-screen.png") scroll no-repeat 0 0;
      background-size: 100%;
    }
    &.msg-screen {
      background: image-url("msg-screen.png") scroll no-repeat 0 0;
      background-size: 100%;
    }
  }
  .outgoing-msg {
    position: absolute;
    top: 175px;
    left: 45px;
    color: #AAA;
    width: 0;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;

    @include animation(type-msg 10s 3s infinite ease-in );
  }
  .fq-checkin-btn {
    width: 250px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -125px;
    background-color: #b0d900;
    color: #FFF;
    text-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.5);
    border: none;

    @include animation(checkin-btn-press 10s 3s infinite ease-in );
  }
  .dash-line-wrapper {
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 10px;
  }
  .dash-line {
    height: 2px;
    border-top: 2px dotted #AAA;
    width: 0;

    @include animation(msg-travel 10s 3s infinite ease-out);
  }
  .incoming-msg {
    position: absolute;
    top: 162px;
    left: 27px;
    background: image-url("msg.png") scroll no-repeat 0 0;
    background-size: 100%;
    height: 100px;
    width: 182px;
    opacity: 0;

    @include animation(incoming-msg-appear 10s 3s infinite);
  }
}

@include keyframes(type-msg) {
  0%, 90% {
    width: 0;
  }
  20%, 89% {
    width: 200px;
  }
}

@include keyframes(checkin-btn-press) {
  0%, 20%, 26% {
    background-color: #b0d900;
  }
  23% {
    background-color: darken(#b0d900, 30);
  }
}


@include keyframes(msg-travel) {
  0%, 26%, 90% {
    width: 0;
  }
  32%, 89% {
    width: 100%;
  }
}

@include keyframes(incoming-msg-appear) {
  0%, 32%, 90% {
    opacity: 0;
  }
  35%, 89% {
    opacity: 1;
  }
}

.home-callout {
  background: #FFF;
  border-radius: 5px;
  border: 2px solid lighten($orange, 20);
  height: 200px;
  position: relative;
  margin-top:10px;

  > p {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid lighten($orange, 20);
    color: #777;
  }
  .home-share {
    position: absolute;
    margin-top: 10px;
    margin-left: -108px;
    left: 50%;
    i {
      position: absolute;
    }
    .icon-map-marker {
      font-size: 30px;
      color: $orange;
      top: 20px;
      left: 20px;
      @include rotate(-45deg);
    }
    .icon-globe {
      font-size: 60px;
      color: $blue;
      top: 30px;
      left: 30px;
    }
    .icon-arrow-right {
      font-size: 30px;
      color: #CCC;
      top: 40px;
      left: 100px;
    }
    .icon-mobile-phone {
      font-size: 70px;
      color: #777;
      top: 25px;
      left: 150px;
    }
  }
  .home-configure {
    font-size: 20px;
    padding-top: 10px;
    color: #AAA;
    position: absolute;
    margin-left: -98px;
    left: 50%;
    i {
      color: $orange;
      font-size: 25px;
      width: 30px;
      display: inline-block;
    }
    .icon-heart {
      color: $watermelon;
    }
  }
  .home-notify {
    position: absolute;
    margin-left: -98px;
    margin-top: 10px;
    left: 50%;
    .arrows {
      color: #AAA;
      margin-left: 13px;
      i {
        display: inline-block;
        font-size: 30px;
        margin: 5px 12px;
      }
    }
    .icon-arrow-left {
      @include rotate(-45deg);
    }
    .icon-arrow-right {
      @include rotate(45deg);
    }
    .icon-mobile-phone {
      font-size: 70px;
      margin: 10px 15px;
      color: $orange;
      &:first-child {
        color: $watermelon;
      }
      &:last-child {
        color: $blue;
        margin-right: 0px;
      }
    }
  }
}

.btn-login {
  background: transparent image-url('foursquare-connect.png') scroll no-repeat 0 0;
  background-size: 100%;
  width: 300px;
  height: 48px;
  max-width: 100%;
}
