.btn-large-icon {
  border:none;
  span {
    font-size: 0.8em;
    line-height: 1.2;
    display: block;
    padding-top: 5px;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.5em;
  }
}

.btn-notify-state {
  color: #fff;
  &:hover {
    color: #fff;
  }
  &.active {
    color: #fff;
    .icon-ban-circle, .icon-comment, .icon-map-marker, .icon-time {
      color: $sherbert;
    }
    .icon-heart {
      color: $watermelon;
    }
  }
}

.input-group-addon {
  background-color: darken($beige, 10);
  color: #777;
}

form {
  position:relative;
  .input-group, .btn-group {
    margin-bottom: 10px;
  }
  .delete-contact {
    display: block;
    color: #ccc;
    text-align: center;
    padding-top: 20px;
  }

  .contact-details-link {
    display: block;
    margin: 10px 0 10px 0;
  }
  .contact-details {
    display: none;
    margin: 10px 0 10px 0;
  }
}



