.navbar-login-message {
  float: right;
}

.main-login-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid darken($beige, 10);
  padding-top: 20px;
  margin-bottom: 20px;
  color: darken($beige, 30);
  height: 40px;

  .power .icon-heart {
    margin: 15px;
  }

  .copyright {
    padding-top: 7px;
  }
}
