.bg-home {
  background: image-url("splash.jpg") scroll no-repeat 0 0;
  background-size: (1043px/2) (529px/2);

  height: 500px;
  width: 528px;
}

.navbar-login-message {
  float: right;
}

.main-login-button {
  text-align: center;
}
