.navbar-login-message {
  float: right;
}

.main-login-button {
  text-align: center;
  margin: 10px 10px 30px;
}

footer {
  padding: 15px 5px;
  border-top: 1px solid darken($beige, 10);
  margin-top: 20px;
  color: darken($beige, 30);
}
