// override bootstrap's super wide grid
@media screen and (min-width: 1200px) {
  .container {
    max-width: 850px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    text-align: center;
    .copyright {
      width: 100%;
    }
    .power {
      width: 100%;
      margin: 20px 0 20px 0;
    }
    .icon-heart {
      display: block;
    }
  }

  .navbar-login-message {
    float: none;
  }

  .nav-collapse {
    padding: 0 15px 0 15px;
  }

  .section-heading {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .btn-notify-state {
    padding: 8px 12px;
    font-size: 15px;
  }

  .section-heading {
    text-align: center;
  }

  .form-contact {
    .btn-large-icon {
      span {
        font-size: 0.6em;
      }
    }
  }
}
