$font-path: "../assets";
$fontAwesomePath: $font-path;

$grapefruit: #FF8562;
$orange: #FFA861;
$beige: #FEF5E4;
$mint: #98D5B4;
$green: #CBE58E;
$blue: #64C6DA;
$watermelon: #F56991;
$sherbert: #FFC48C;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;


$body-bg: lighten($beige, 2);

$navbar-default-bg:                        $orange;
$navbar-default-color:                     #FFF;
$navbar-default-link-color:                #FFF;
$navbar-default-link-hover-color:          darken($orange, 20);
$navbar-default-link-hover-bg:             lighten($orange, 20);
$navbar-default-link-active-color:         darken($orange, 25);
$navbar-default-link-active-bg:            lighten($orange, 20);
$navbar-default-brand-hover-color:         lighten($orange, 25);
$navbar-default-brand-hover-bg:            transparent;

$component-active-bg:                      $orange;


$well-bg: darken($beige, 2);

$btn-default-bg: lighten($blue, 10);
$btn-default-color: #FFF;
$btn-default-border: lighten($blue, 10);

$btn-primary-bg: darken($blue, 15);